.container{
    display: grid;
    place-items: center;
    height: 100vh;
}
.container button{
    padding: 1rem 3rem;
    border-radius: 20px;
    background-color: rgb(1, 7, 24);
    color: #fff;
}
.container button:hover{
    background-color:  rgb(7, 23, 66);
}
#btn{
    font-size: 1rem;
}