*{
    margin: 0;
    padding: 0;
}


.container{
    display: grid;
    place-items: center;
    height: 100vh;
}
.container button{
    margin-left: 35%;
    padding: 1rem 2rem;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    background-color:rgb(46, 156, 175);
    color: #eee;
    font-weight: 600;

}
.box{
    background-color: #212122;
    padding: 20px;
    border-radius: 5px;
}
.container .box h1{
    color: #fff;
}
.box span{
    color:rgb(69, 216, 241);
}
